span {
    color: #1DA1F2;
}

.make-left{
    float: left;
}

.make-right{
    float: right;
}

.refresh{
    font-size: 15px;
}

.search-box{
    text-align: center;
    margin-bottom: 35px;
}

.bottom-line {
    border-bottom: 2px solid #1DA1F2;
}

#usr {
    width: 50% !important;
    display: inline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    height: 110px;
    border-radius: 5px;
    margin-top: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.adjust-card-items{
    padding-top: 8px;
}

.top {
    padding-top: 15px;
    height: 78px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

#footer {
    border-top: 2px solid #1DA1F2;
    height: 60px;
    /* text-align: center; */
    padding-top: 5px;
    margin-top: 50px;
}

.footer-block {
    margin: 20px 0;
}

.total-cards {
    /* margin-bottom: 100px; */
    max-width: 900px;
    margin: 0 auto;
}

.break-res {
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 160px;  */
    height: 1.2em;
    white-space: nowrap;
    cursor: pointer;
}

.img-responsive {
    height: 60px;
    width: 60px;
    border-radius: 7px;
    object-fit: cover;
}

.img-alignment {
    padding: 25px 5px;
}
